li{
    list-style: none;
}
.container-main{
        padding: 1.2%;
        width: 20vw;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: #fff;
        position: absolute;
        right: 0;
}
.subcontainer{
    display: flex;
    flex-direction: column;
    height: 90%;
}
.subcontainer-img{
    padding: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 25%;
}
.subcontainer-img img{
    width: 30%;
    height: 50%;
}
.subcontainer-options-nav{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding-top: 4%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    height: 20%;
}

.subcontainer-options-nav-dos{
    border-bottom: 2px solid black;
    padding-top: 4%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    height: 20%;
}

.subcontainer-options{
    width: 100%;
}

.subcontainer-options li{
    display: flex;
    height: 100%;
}

.nav{
    display: flex;
    text-decoration: none;
    gap: 20px;
}
.subcontainer-options li a i.icons{
    display: flex;
    align-items: center;
    /* border: 2px solid rebeccapurple; */
    height: 100%;
}
.subcontainer-options li a i.icons img{
    margin-left: 40%;
    width: 40px;
    height: 40px;
}

.subcontainer-options li a span.text{
    display: flex;
    align-items: center;
    color: #000;
    font-family: 'Inter';
    font-size: 1.5rem;
    font-style:normal;
    font-weight: 400;
    line-height: normal;
}
.subcontainer-options li a.active{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: #E1E4E7;
}


.subcontainer-button{
    width: 100%;
    height: 10%;
}
